body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF6E0;
    margin: 0;
    padding: 0;
}

/* ========header========= */
.header {
    position: fixed;
    background-color: #0C356A;
    height: 50px;
    font-weight: bold;
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: 0.4s;
}

.container {
    max-width: 78%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    margin-left: 250px;
    background-color: #F8F0E5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 3px;
    text-align: justify;
    color: #333;
}

.program {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0C356A;
}

img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* ==========nav============= */
.sidebar {
    height: 100%;
    width: 200px;
    margin-top: 20px;
    position: fixed;
    left: 0;
    background-color: #B2C8BA;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
}
.sidebar ul li:hover {
    transition: 0.3s;
    background-color: #5C5470;
    padding: 12px;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}


.mark{
    background-color: #0C356A;
}

/* .sidebar ul li a:hover {
    color: #FFD700;
} */

.mark a{
    color: white !important;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }
    .content {
        margin-left: 0;
    }
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 20px;
    text-align: center;
    margin-left: 200px;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #007bff;
}
